<link rel="stylesheet" href="../NavbarStyle.css">
<h1>Node Clicker</h1>
<ul>
    <li><a href="/clicker">Play</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li class="dropdown">
        <a  class="dropbtn">{{username}}</a>
        <div class="dropdown-content">
            <a href="/logout">Log Out</a>
        </div>
    </li>
</ul>