<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Node Clicker</title>
    <link rel="stylesheet" href="ClickerStyles.css">
</head>
<body>
{{> Navbar}}
<!--Initializes sent variables-->
<input type="hidden" id="storedclicks" value='0'>
<input type="hidden" id="storedTotalClicks" value='0'>

<div class="grid-container">
        <div style="grid-column: 2; grid-row: 1/ span 2; border: solid black 2px">
            <div onclick="clicker.lvlUp()">
                Clicker<br>
                lvl: <span id="clickerLvl"></span><br>
                LvlUp price: <span id="lvlprice"></span><br>
                <hr>
            </div>
            <span id="autoclickarea"></span>
        </div>

        <div style="grid-column: 3/ span 2; grid-row: 1/span 2; background: url('Background pattern.jpg') center; text-align: center;" onclick="clicker.click()">
            clicks: <span id="clicks"></span><br>
            total clicks: <span id="totalClicks"></span>
        </div>
    </div>
</body>

<script src="Clicker.js" type="application/javascript" charset="UTF-8"></script>

</html>
