<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Node Clicker</title>
    <link rel="stylesheet" href="ClickerStyles.css">
</head>
<body>
{{> Navbar}}
<!--Initializes sent variables-->
<input type="hidden" id="storedclicks" value='0'>
<input type="hidden" id="storedTotalClicks" value='0'>

<div class="grid-container" style="width: 100vw; height: 80vh">
        <div style="grid-column: 1; grid-row: 1; border: solid black 2px">
            <div onclick="clicker.lvlUp()" id="clickerarea">
                Clicker<br>
                lvl: <span id="clickerLvl"></span><br>
                LvlUp price: <span id="lvlprice"></span><br>
                <hr>
            </div>
            <span id="autoclickarea"></span>
        </div>

        <div class="ClickerTextArea">
            <div style="margin-top: 15%;">
            clicks: <span id="clicks"></span><br>
            total clicks: <span id="totalClicks"></span>
            </div>
            <div style="height: 70%;" onclick="clicker.click()">
            </div>
        </div>
    </div>
</body>

<script src="Clicker.js" type="application/javascript" charset="UTF-8"></script>

</html>
