<!DOCTYPE html>
<html>
<head>
    <title>Node Clicker</title>
    <link rel="stylesheet" href="LoginStyles.css">
</head>

<body>
<h1>Node Clicker</h1>
{{>Navbar}}
LeaderBoard!!

<div style="margin: auto; width: 50%">
    <div style="float: left;" id="names"></div>
    <div style="float: right;" id="userscores"></div>
</div>
</body>

<script src="Leaderboard.js" type="application/javascript" charset="UTF-8"></script>


</html>