<!DOCTYPE html>
<html>
<head>
    <title>Node Clicker</title>
    <link rel="stylesheet" href="LoginStyles.css">
</head>
<body>
{{>Navbar}}
<div id="Login">
<form method="post" action="/login">
    <label>Login</label><br>
    <input type="text" name="Username" placeholder="Username" required>
    <input type="password" name="Password" placeholder="Password" required>
    <input type="submit" value="Login">
</form>
    <div style="color: red">{{loginmsg}}</div>
</div>
<hr>
<div>
    <form method="post" action="/register">
        <label>Register</label><br>
        <input type="text" name="Username" placeholder="Username" required>
        <input type="password" name="Password" placeholder="Password" required>
        <input type="submit" value="Register">
    </form>
    <div style="color: red">{{Registermsg}}</div>
</div>

</body>

{{>footer}}

</html>